@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap');

html {
  background-color:  #231f63;
}
* {
    margin: 0;
    padding: 0;
  }  

:root {
    font-family: 'Exo', sans-serif;
}

a {
    text-decoration: none;
} 
.main-header {
    background-image: url(../img/backgr.png);
    padding-bottom: 26px;
}

.foxlogo {
    display: block;
    max-width: 50%;
}



.pages {
    color: antiquewhite;
    text-align: center;
}

h3 {
    color: #FFFFFF;
    text-align: center;
}

.svg-icons {
    color: antiquewhite;
    text-align: center;
}

.main-words {
    color: antiquewhite;

}
.slogan{
    font-size: 3rem;
    margin: auto;
    padding: auto;
}

#menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex; 
    align-items: center;  
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }


.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

.connect {
    margin: 30px;
}

.slogan {
    margin: 30px;
    font-size: 80px;
    font-weight: bold;
    color: white;
}

.baseline {
    border: none; 
    background-color: orange; 
    height: 4px; 
    width: 70px;
    margin: 30px;

}
.blueviolet-background {
    background-color: blueviolet;
    
 }
.yellowline {
    border: none;
    background-color: orange;
    height: 5px;
    width: 100px;
    margin-left: 10px;
}
.whats-new-block img{
    height: 100px;
}
<!--footer-->
.main-footer {
    background-color: #231f63!;
    color: #fff;
}
.ui-link {
    color: #fdac08;
    font-weight: bold;}
.logo-foot {
    height: auto;
    margin:auto
    ;}
.headlines center {
  text-align:center

}

.whats-new-block {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-row-gap: 10px;
    grid-column-gap: 10px; 
    max-width: 25%s;
    margin-bottom: 50px;
}
.whats-new-block img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.whats-new-paragraph {
    font-size: 58px;
    line-height: 1.18;
    font-weight: 700;
    color: #fff;
    text-align: center;
}
.line {
  display: flex;
  color: rgba(255,255,255,0.7);
}
.block-title {
    font-family: Exo;
    color: #fdac08;
}
.block-text {
    font-family: Rajdhani;
}
.block-dates {
    font-family: Exo;
    color: rgba(255,255,255,0.7);
}
.button {
    font-family: Exo;
    color: #fdac08;
}
.channels {
    background-color: #7237df;
}
.sports {
  background-color: #7237df;
}
.coming-soon {
  background-color: #7237df;
}
.tv-series {
  background-color: #7237df;
}