@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap');

html {
  background-color:  #231f63;
}
* {
    margin: 0;
    padding: 0;
  }  

:root {
    font-family: 'Exo', sans-serif;
}

a {
    text-decoration: none;
} 
.main-header {
    background-image: url(../img/backgr.png);
    padding-bottom: 26px;
}

.fox {
    display: block;
    width: 50%;
}

.pages {
    color: antiquewhite;
    text-align: center;
}

.last-words {
  margin: 30px;
  justify-content: space-between;
}

.currently {
  color: orange;
  border-radius: 5px;
  border-color: orange;
  text-decoration: none;
  padding: 0.8rem 1.2rem;
  border: 3px solid;
  display: inline-block;
  text-align: center;
}

.currently:hover {
  background-color: orange;
  color: white;
  transition: 0.36s;
  border-color: orange;
}

.learn {
  color: white;
  text-decoration: none;
  padding: 0.8rem 1.2rem;
  border: 2px solid;
  background-color: orange;
  border-color: orange;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  width: 190px;
  height: 70px;
  margin-right: 20px;
}

.learn:hover {
  color: black;
  background-color: white;
  transition: 0.36s;
  border-color: white;
}

.svg-icons {
    color: antiquewhite;
    text-align: center;
}

.main-words {
    color: antiquewhite;

}
.slogan{
    font-size: 3rem;
    margin: auto;
    padding: auto;
}

.connect {
    margin: 24px;
}

.slogan {
    margin-left: 24px;
    margin-top: 16px;
    font-size: 62px;
    font-weight: bold;
    color: white;
}

.connect {
  margin-left: 24px;
  margin-bottom: 16px;
  opacity: 0.7;
  color: white;
  font-size: 15px;
}

.purple-logofox {
  display: block;
  text-align: center;
  justify-content: space-around;
  margin-top: 180px;
  margin-left: 24px;

}

.last-words {
  text-align: ;
}

.baseline {
    border: none; 
    background-color: orange; 
    height: 4px; 
    width: 70px;
    margin: 24px;

}
.blueviolet-background {
    background-color: blueviolet;
    
 }
.yellowline {
    border: none;
    background-color: orange;
    height: 5px;
    width: 100px;
    margin-left: 10px;
}
.whats-new-block img{
    height: 100px;
}
<!--footer-->
.main-footer {
    background-color: #231f63!;
    color: #fff;
}
.ui-link {
    color: #fdac08;
    font-weight: bold;}
.logo-foot {
    height: auto;
    margin:auto
    ;}
.headlines center {
  text-align:center

}

.whats-new-block {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-row-gap: 10px;
    grid-column-gap: 10px; 
    max-width: 25%s;
    margin-bottom: 50px;
}
.whats-new-block img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.whats-new-paragraph {
    font-size: 58px;
    line-height: 1.18;
    font-weight: 700;
    color: #fff;
    text-align: center;
}
.line {
  display: flex;
  color: rgba(255,255,255,0.7);
}
.block-title {
    font-family: Exo;
    color: #fdac08;
}
.block-text {
    font-family: Rajdhani;
}
.block-dates {
    font-family: Exo;
    color: rgba(255,255,255,0.7);
}
.button {
    font-family: Exo;
    color: #fdac08;
}
.channels {
    background-color: #7237df;
}
.sports {
  background-color: #7237df;
}
.coming-soon {
  background-color: #7237df;
}
.tv-series {
  background-color: #7237df;
}
.pricing-block-container {
 max-width: 345px;
  text-align: center;
 position: relative;
 background-image: url(img/plan-background.png);
 object-fit: cover;
 height: 435px;
 width: 100%;
 background-color: blueviolet;
 margin-bottom:0px;
margin-left:15px;
margin-right:15px;
margin-top:50px;
}
.line-devider {
height: 3px;
width: 5%; 
background-color: #fdac08;
}
.pricing-header{
  color:#fff;
  text-align: center;
  vertical-align: baseline;
  font-family: sans-serif;
  font-size: 38px;
  margin: auto;
  padding: auto;
}
.plan-content {
  color: #fff;
  vertical-align: baseline;
  font-family: inherit;
  font-size: 14px;
  position:relative;
  background-image: url(img/plan-background.webp);
  

}
.price {
  color: #fdac08;
  font-size: 38px;
}
.text-content {
  font-size: 19px;
  color: rgba(255,255,255,0.7);
  text-align: center;
}
.plan-header {
  font-size: 22px;
  color: #fff;
  font-family: sans-serif;
}
.per-month {
  color: #fdac08;
  font-family: sans-serif;
  font-size: 14px;
}