.pricing {
    background-color: rgb(30, 43, 118);
  
}
  .container-for-plan-basic,
  .container-for-plan-medium,
  .container-for-plan-pro {
    width: 360px;
    text-align: center;  
    background-image: url(../img/plan-background.png);
    background-size: cover;
    height: 460px;
    padding-top: 3%;

  }
 .slide {
   display: flex;
   flex-direction: row;
   column-width: 360px;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   margin: 0 auto;


}
 .line-devider {
    height: 3px;
    width: 39px;
    background-color: #fdac08;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .pricing-header {
    color: #fff;
    text-align: center;
    font-family: sans-serif;
    font-size: 58px;
    font-weight: 700;
    position: relative;
    min-width: 320px;
    padding-top: 5%;
    letter-spacing: -0.021em;

  }
  .plan-content {
    color: #fff;
    font-family: inherit;
    font-size: 14px;
    position: relative;
    margin: auto;
    padding: auto;
  }
  .price {
    color: #fdac08;
    font-size: 38px;
  }
  .text-content {
    font-size: 19px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    margin-top: 25px;
  }
  .plan-header {
    font-size: 22px;
    color: #fff;
    font-family: sans-serif;
  }
  .per-month {
    color: #fdac08;
    font-family: sans-serif;
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .btn-outline-warning {
      color: #fdac08;
      margin-top: 50px;
      margin-bottom: 50px;
  }
.countdown{
  text-align: center;
  font-size: 50px;
  color: #fdac08;
  font-family: sans-serif;
  margin-top: 1em;
}
.discount{
  text-align: center;
  font-size:19px;
  color: #fdac08;
  font-family: sans-serif;
  margin: 2em;
}
.timer{
  background-image: url(../img/plan-background.png);
  background-size:cover;
  max-width: 460px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  letter-spacing: +0.181em;
  font-family:'Exo', sans-serif;
}